.auth-card {
    background: white;
    width: 30%;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
    text-align: center;
}

.labelauth {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 6px;
}

.inputauth {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

.nextButton {
    width: 50%;
    background: #70DEFF;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.nextButton:hover {
    opacity: 0.9;
}

.authp {
    display: block;
    font-size: 13px;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: none;
}

.aauth {
    color: #70DEFF;
}